.statistics {
    width: 400px;
    margin: 50px auto;

    box-shadow: 0px 0px 5px 1px #94a0ac;
    border-radius: 4px;
    background-color: #ffffff;
}

.stat-list {
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.title {
    font-family: 'Lato';
    font-size: 16px;
    background-color: #ffffff;
    text-transform: uppercase;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #49545a;
    text-align: center;
    padding: 30px 0 20px;
}
.item {
    width: 80px;
    list-style: none;
    padding: 15px;
}

/* .item:hover,
.item:focus {
    transform: scale(1.2);
    cursor: pointer;
} */

.item:first-child,
.item:first-child span {
    background-color: #543e5c;
    border-bottom-left-radius: 4px;
}

.item:nth-child(2),
.item:nth-child(2) span {
    background-color: #cca2e1;
}

.item:nth-child(3),
.item:nth-child(3) span {
    background-color: #951555;
}

.item:nth-child(4),
.item:nth-child(4) span {
    background-color: #d61d4e;
}

.item:nth-child(5),
.item:nth-child(5) span {
    background-color: #ff0b55;
    border-bottom-right-radius: 4px;
}

.label {
    font-size: 16px;
    font-family: 'ProximaNova';
    color: #ffffff;
    line-height: 1.667;
}

.percentage {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'ProximaNova';
    color: #ffffff;
    line-height: 1.111;
}
