.transaction-history {
    width: 250px;
    margin: 50px auto 40px;
    font-family: 'Lato';
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px #94a0ac;
    border-radius: 4px;
}

.transactions {
    font-size: 15px;
    font-family: 'Helvetica';
    font-weight: 100;
    color: #5c6975;
    line-height: 2;
    text-align: center;
}
.title-label {
    font-weight: 800;
    height: 50px;
}

.th-label {
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 2.308;
    background-color: #00bcd4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.title-label:nth-child(2n) {
    border-top-left-radius: none;
    border-top-right-radius: none;
}
.colum:nth-child(odd) {
    background-color: #f3f6f9;
}

.colum:nth-child(even) {
    background-color: #e7ecf2;
}

.colum:last-child td {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.colum:hover,
.colum:focus {
    /* transform: scale(1.1); */
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px #94a0ac;
}
